/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS STYLE BEGIN */
.col {
    background-color: #006cfa;
    color: white;
    height: 50px;
}

.inner-col {
    background-color: #01e165;
    color: white;
    height: 50px;
}

/* Framework Small Encounters */
.section-row:nth-child(7) > .col {
    height: 80px;
    padding: 0 1rem;
}