/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS STYLE BEGIN */
.col {
    background-color: #006cfa;
}

.inner-col {
    background-color: #01e165;
}