/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS STYLE BEGIN */
section {
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
}

.col {
    background-color: #006cfa;
    color: white;
    height: 50px;
}

.inner-col {
    background-color: #01e165;
    color: white;
    height: 50px;
}

.row {
    margin-top: 3px;
}

/* Framework Small Encounters */
#inner-row > .col {
    height: 80px;
    padding: 0 1rem;
}